//! FLEX MIXINS \\\

//? FLEX ROW \\
@mixin flexRowGap($gap) {
  display: flex;
  gap: $gap;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexAlignCenterWithGap($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flexAlignAndJustifyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexAlignAndJustifyCenterWithGap($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

//? FLEX COLUMN \\

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnGap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexColumnReverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnAlignCenterWithGap($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

/////////////////////////////////////

//! WIDTH AND HEIGHTS \\\
@mixin widthAndHeight($width, $height) {
  width: $width;
  height: $height;
}

//! POSITION ABSOLUTE \\\
@mixin positionAbsoluteTopLeft($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}
@mixin positionAbsoluteTopRight($top, $right) {
  position: absolute;
  top: $top;
  left: $right;
}

@mixin positionAbsoluteTopLeftRight($top, $left, $right) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
}

@mixin topLeft($top, $left) {
  top: $top;
  left: $left;
}

//! POSITION ABSOLUTE \\\
@mixin positionAbsoluteTopLeft($top, $left) {
  position: fixed;
  top: $top;
  left: $left;
}



//! BACKGROUND IMAGE \\\
@mixin backgroundImageWithCustomGradient($color, $image) {
  background-image: linear-gradient(315deg, $color 0%, $color 100%), url($image);
}

@mixin backgroundSizeAndPosition($size, $position) {
  background-size: $size;
  background-position: $position;
}

/////////////////

@mixin headerMixin($fontSize, $lineHeight, $letterSpacing) {
  @extend .heading;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin seeProductBtnMaker($BGcolor, $color) {
  background-color: $BGcolor;
  color: $color;
}

@mixin linksAndBtn {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: $color-white;
}

@mixin backgroundWithCustomGradient($col1, $col2, $colorOpacity, $img) {
  background-image: linear-gradient(
      to right bottom,
      rgba($col1, $colorOpacity),
      rgba($col2, $colorOpacity)
    ),
    url($img);
}

@mixin importAndAdjustBackground($url, $x, $y) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $x $y;
}

@mixin applyGapOnH2PButton {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

@mixin makeHeader($height) {
  display: flex;
  justify-content: center;
  height: $height;
}

//69.3 rem 1110px desktop
//44 rem 784px tablet
//40 rem 640px phone-rotated
//24 rem 384px phone

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 24em) {
      @content;
    }
  }
  @if $breakpoint == phone-rotated {
    @media (max-width: 40em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 49em) {
      @content;
    }
  }
  @if $breakpoint == min-tablet {
    @media (min-width: 49.1em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (max-width: 69.3em) {
      @content;
    }
  }
}
