@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.mr-xs-t {
  margin-top: 1.6rem; }

.mr-m-t {
  margin-top: 7.9rem; }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

.modal__background {
  background-color: #969696; }

.hidden {
  display: none !important;
  opacity: 0; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

@keyframes headerAnimation {
  0% {
    opacity: 0; }
  80% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }
  @media (max-width: 49em) {
    :root {
      font-size: 57%; } }
  @media (max-width: 40em) {
    :root {
      font-size: 50%; } }
  @media (max-width: 24em) {
    :root {
      font-size: 40%; } }

a {
  text-decoration: none;
  color: inherit; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

button {
  border: none;
  cursor: pointer;
  background-color: transparent; }

ul {
  list-style-type: none; }

.heading, .heading__1, .heading__2, .heading__3, .heading__4, .heading__5, .heading__6 {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.heading__1 {
  font-size: 5.6rem;
  line-height: 5.8rem;
  letter-spacing: 0.2rem; }
  .heading__1--white {
    color: white; }

.heading__2 {
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 0.15rem; }
  .heading__2 span {
    color: #d87d4a; }

.heading__3 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 0.115rem; }

.heading__4 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 0.2rem; }

.heading__5 {
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 0.17rem; }

.heading__6 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.13rem; }
  .heading__6--gray-dark {
    color: #00000080; }

.overline {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 1rem; }
  .overline--white {
    display: block;
    color: white;
    opacity: 0.5; }
  .overline--primary {
    color: #d87d4a; }

.sub-title, .btn__text, .btn__text--with-arrow {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem; }

.text, .box__item {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white; }
  .text--black {
    color: #000000; }
  .text--gray-dark {
    color: #00000080; }
  .text--gray {
    color: rgba(255, 255, 255, 0.502); }

.c-white {
  color: white; }

.bold {
  font-weight: 700; }

.uppercase {
  text-transform: uppercase; }

.home-banner {
  width: 100%;
  position: absolute;
  overflow: hidden; }
  @media (max-width: 69.3em) {
    .home-banner {
      padding: 0 4rem;
      grid-template-columns: 1fr; } }
  .home-banner::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, rgba(14, 14, 14, 0.507) 0%, rgba(14, 14, 14, 0.507) 100%), url("/src/assets/home/desktop/hero-MAIN.jpeg");
    background-position: 45rem 0rem;
    background-repeat: no-repeat;
    animation: headerAnimation 3s ease-out;
    z-index: 1; }
    @media (max-width: 69.3em) {
      .home-banner::after {
        background-image: linear-gradient(315deg, rgba(14, 14, 14, 0.507) 0%, rgba(14, 14, 14, 0.507) 100%), url("/src/assets/home/desktop/hero-MAIN.jpeg");
        background-position: center;
        ackground-size: contain; } }
    @media (max-width: 40em) {
      .home-banner::after {
        background-size: contain; } }
  .home-banner__title {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    animation: moveInRight 3s ease-out;
    z-index: 3; }
    .home-banner__title h1 {
      max-width: 40rem; }
      @media (max-width: 69.3em) {
        .home-banner__title h1 {
          text-align: center; } }
    @media (max-width: 69.3em) {
      .home-banner__title {
        align-items: center; } }
  .home-banner__text {
    max-width: 35rem; }
    @media (max-width: 69.3em) {
      .home-banner__text {
        text-align: center; } }

.btn__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  z-index: 2;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: white;
  transition: all 0.3s; }
  .btn__primary--orange {
    background-color: #d87d4a;
    color: white; }
    .btn__primary--orange:hover {
      background-color: #fbaf85;
      color: white; }
  .btn__primary--transparent {
    background-color: transparent;
    color: #0d0d0d;
    border: 1px solid #0d0d0d; }
    .btn__primary--transparent:hover {
      background-color: #0d0d0d;
      color: white; }
  .btn__primary--black {
    background-color: #000000;
    color: white; }
    .btn__primary--black:hover {
      background-color: #4d4d4d;
      color: white; }

.btn__text, .btn__text--with-arrow {
  border: none;
  background-color: none;
  color: #000000;
  font-weight: 700;
  opacity: 0.5;
  position: relative;
  transition: all 0.3s; }
  .btn__text:hover, .btn__text--with-arrow:hover {
    color: #d87d4a; }
  .btn__text--with-arrow::after {
    content: "";
    display: inline-block;
    position: fixed;
    top: 25%;
    left: 120%;
    width: 2rem;
    height: 2rem;
    background: url(../assets/shared/desktop/icon-arrow-right.svg) no-repeat; }

.btn__go-back {
  position: fixed;
  top: -7.6rem;
  left: 0; }

.quantity__btn-group {
  display: flex;
  gap: 1.6rem; }

.quantity__input-group {
  display: grid;
  width: 12rem;
  height: 4.8rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f2f2f2;
  border-radius: 0.2rem; }
  .quantity__input-group--modal {
    height: 3.2rem;
    width: 9.6rem; }

.quantity__input {
  width: 100%;
  border: none;
  text-align: center;
  background-color: inherit;
  font-weight: 700; }

.quantity__btn {
  color: #000000;
  font-weight: 700;
  font-size: 1.4rem;
  opacity: 0.25;
  transition: all 0.3s; }
  .quantity__btn:hover {
    color: #d87d4a;
    opacity: 1; }

.zigzag {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rem;
  position: relative; }
  .zigzag__card {
    min-height: 56rem;
    display: flex;
    align-items: center;
    gap: 12.5rem; }
    .zigzag__card:nth-child(2n) {
      flex-direction: row-reverse; }
    @media (max-width: 49em) {
      .zigzag__card {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .zigzag__card:nth-child(2n) {
          flex-direction: column; } }
  .zigzag__image {
    width: 100%;
    border-radius: 0.8rem; }
  .zigzag__title {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    max-width: 44.5rem; }
    @media (max-width: 49em) {
      .zigzag__title {
        text-align: center;
        align-items: center; } }

.modal {
  width: 38rem;
  max-height: 49rem;
  background-color: white;
  position: absolute;
  right: 16.5rem;
  top: 13rem;
  border-radius: 0.8rem;
  padding: 3.1rem 3.1rem 3.1rem 3.3rem;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.2rem;
  transition: all 0.3s; }
  .modal__items-container {
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .modal__item {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .modal__text-side {
    display: grid;
    height: 6.4rem;
    grid-template-columns: 6.4rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 1.6rem; }
  .modal #removeAllBtn {
    justify-self: end; }
  .modal__name {
    grid-area: 1/2/2/3; }
  .modal__price-item {
    grid-area: 2/2/3/3; }
  .modal__img {
    grid-area: 1/1/3/2;
    width: 100%; }
  .modal__price-total {
    justify-self: end; }
  .modal #checkoutBtn {
    width: 100%;
    grid-area: 4/1/5/3; }

#body {
  position: relative; }

.overlay {
  position: fixed;
  top: 9.6rem;
  left: 0;
  width: 100%;
  height: calc(100% - 9.6rem);
  background-color: rgba(255, 0, 0, 0.329);
  z-index: 997; }

.main {
  max-width: 111rem;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 69.3em) {
    .main {
      padding: 0 4rem; } }
  .main__products, .main__pages {
    display: flex;
    flex-direction: column;
    gap: 16rem; }

.header {
  width: 100%;
  background-color: #0e0e0e;
  position: relative; }
  .header__home {
    display: flex;
    justify-content: center;
    height: 75rem; }
  .header__categories {
    display: flex;
    justify-content: center;
    height: 33.5rem; }
  .header__container {
    width: 111rem; }
    @media (max-width: 49em) {
      .header__container {
        max-width: 69rem; } }
  .header__products {
    display: flex;
    justify-content: center;
    height: 9.6rem; }

.navbar__footer, .navbar__desktop, .navbar__tablet, .navbar__mobile {
  width: 100%;
  display: flex;
  align-items: center; }

.navbar {
  height: 9.6rem;
  max-width: 111rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999; }
  .navbar__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    min-height: 9.6rem;
    z-index: 999; }
  .navbar__footer {
    justify-content: space-between; }
    @media (max-width: 40em) {
      .navbar__footer {
        flex-direction: column;
        gap: 5.2rem; }
        .navbar__footer .navbar__list {
          flex-direction: column; } }
  .navbar__desktop {
    justify-content: space-between; }
    @media (max-width: 69.3em) {
      .navbar__desktop {
        padding: 0 4rem; } }
    @media (max-width: 49em) {
      .navbar__desktop {
        display: none; } }
  .navbar__list {
    display: flex;
    align-items: center;
    gap: 3.4rem; }
  .navbar__link {
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    color: white;
    transition: all 0.3s; }
    .navbar__link:hover {
      color: #d87d4a; }
  .navbar__icon {
    cursor: pointer; }
  .navbar__tablet {
    display: none;
    position: relative; }
    @media (max-width: 49em) {
      .navbar__tablet {
        display: flex;
        justify-content: space-between;
        padding: 0 4rem; } }
    @media (max-width: 24em) {
      .navbar__tablet {
        display: none; } }
  .navbar__logo-plus-hamburger {
    display: flex;
    align-items: center;
    gap: 4.2rem; }
  .navbar__hamburger {
    cursor: pointer; }
  .navbar__mobile {
    position: relative;
    display: none; }
    @media (max-width: 24em) {
      .navbar__mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 2.4rem; } }
  .navbar__menu {
    min-height: 35rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9.6rem;
    left: 0;
    z-index: 999;
    transition: all 1s; }
    @media (min-width: 49.1em) {
      .navbar__menu {
        display: none; } }

.footer {
  width: 100%;
  min-height: 36.5rem;
  margin-top: 20rem;
  background-color: #0e0e0e; }
  @media (max-width: 69.3em) {
    .footer {
      padding: 0 4rem;
      align-items: center; } }
  .footer__container {
    max-width: 111rem;
    margin: 0 auto;
    padding-top: 7.5rem;
    position: relative; }
    .footer__container::before {
      content: "";
      width: 10rem;
      height: 0.4rem;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #d87d4a; }
      @media (max-width: 40em) {
        .footer__container::before {
          left: 50%;
          transform: translateX(-50%); } }
  .footer__grid {
    margin-top: 3.6rem;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(2, 1fr); }
    @media (max-width: 40em) {
      .footer__grid {
        grid-template-rows: repeat(3, 1fr);
        text-align: center; } }
  .footer__paragraph {
    width: 54rem;
    grid-area: 1/1/2/2; }
    @media (max-width: 40em) {
      .footer__paragraph {
        width: 100%;
        grid-area: 1/1/2/4;
        text-align: center; } }
  .footer__copyright {
    grid-area: 2/1/3/2;
    align-self: end; }
  .footer__social {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem; }
    @media (max-width: 69.3em) {
      .footer__social {
        align-self: end; } }
    @media (max-width: 40em) {
      .footer__social {
        width: 100%;
        grid-area: 3/1/4/4;
        align-self: center; } }
  .footer__icon {
    cursor: pointer; }
    .footer__icon:hover {
      filter: invert(59%) sepia(70%) saturate(549%) hue-rotate(329deg) brightness(95%) contrast(90%); }

.section__features {
  display: grid;
  grid-template-columns: 63.5rem 35rem;
  gap: 12.5rem;
  height: 32rem; }

.section__product-gallery {
  display: grid;
  height: 59rem;
  grid-template-columns: 45rem 63.5rem;
  grid-template-rows: repeat(2, 28rem);
  grid-row-gap: 3.2rem;
  grid-column-gap: 3rem;
  transition: all 0.3s; }
  .section__product-gallery:hover .product-gallery__img:not(:hover) {
    transform: scale(0.95); }

.section__product-suggestions {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: min-content 47rem;
  grid-column-gap: 3rem;
  grid-row-gap: 6.4rem; }

.section__categories {
  max-width: 111rem;
  display: flex;
  gap: 3rem;
  margin: 0 auto; }
  .section__categories--main {
    margin-top: 20rem; }
  @media (max-width: 49em) {
    .section__categories {
      max-width: 69rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6.8rem; } }
  .section__categories--navbar {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row; }
    @media (max-width: 49em) {
      .section__categories--navbar {
        gap: 1rem;
        justify-content: center; } }
    @media (max-width: 40em) {
      .section__categories--navbar {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6.8rem;
        justify-content: center; } }

.categories__card {
  width: 35rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #f1f1f1;
  position: relative;
  border-radius: 0.8rem; }
  .categories__card--navbar {
    max-width: 100%; }
    @media (max-width: 49em) {
      .categories__card--navbar {
        width: 25rem;
        height: 20rem; } }
    @media (max-width: 40em) {
      .categories__card--navbar {
        width: 35rem;
        height: 20rem; } }

.categories__img {
  position: absolute;
  top: -27%;
  left: 0;
  right: 0;
  height: 16rem;
  margin: 0 auto; }

.categories__heading {
  margin-top: 10rem; }

.section__products {
  margin-top: 16.8rem;
  display: grid;
  grid-template-rows: 1fr 32rem 32rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4.8rem;
  grid-column-gap: 3rem;
  align-items: center; }
  @media (max-width: 40em) {
    .section__products {
      grid-template-rows: 1fr 32rem 32rem 32rem; } }

.product__zx9 {
  grid-area: 1/1/2/3;
  padding: 5.5rem 2.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  background-color: #d87d4a;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: url("../assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: -15rem -5rem;
  border-radius: 0.8rem; }
  @media (max-width: 69.3em) {
    .product__zx9 {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/home/desktop/pattern-circles.svg");
      background-repeat: no-repeat;
      background-position: 50% -28rem; } }

.product__zx7 {
  grid-area: 2/1/3/3;
  align-self: stretch;
  background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: flex;
  align-items: center;
  border-radius: 0.8rem; }
  @media (max-width: 69.3em) {
    .product__zx7 {
      width: 100%;
      background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
      background-repeat: no-repeat;
      background-position: -1rem 0;
      background-size: cover;
      background-position: center; } }
  @media (max-width: 24em) {
    .product__zx7 {
      width: 100%;
      background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
      background-repeat: no-repeat;
      background-position: -1rem 0;
      background-size: cover;
      background-position: center; } }

.product__yx1 {
  grid-area: 3/2/4/3;
  align-self: stretch;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0.8rem; }
  @media (max-width: 40em) {
    .product__yx1 {
      grid-area: 4/1/5/3; } }

.product__img-zx9 {
  height: 48rem;
  background-size: 7rem;
  background-position: 11.7rem;
  background-image: url("/src/assets/home/desktop/image-speaker-zx9.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }
  @media (max-width: 69.3em) {
    .product__img-zx9 {
      top: 0;
      left: 0;
      width: 20rem;
      height: 100%;
      background-image: url("/src/assets/home/tablet/image-speaker-zx9.png");
      margin-bottom: 6.4rem; } }

.product__img-yx1 {
  background-image: url("/src/assets/home/desktop/image-earphones-yx1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-area: 3/1/4/2;
  border-radius: 0.8rem; }
  @media (max-width: 69.3em) {
    .product__img-yx1 {
      background-image: url("/src/assets/home/tablet/image-earphones-yx1.jpg"); } }
  @media (max-width: 40em) {
    .product__img-yx1 {
      background-image: url("/src/assets/home/mobile/image-earphones-yx1.jpg");
      grid-area: 3/1/4/3; } }

.product__title-zx9 {
  width: 35rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  @media (max-width: 69.3em) {
    .product__title-zx9 {
      align-items: center;
      justify-content: center;
      text-align: center; } }

.product__title-zx7, .product__title-yx1 {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-left: 9.5rem; }

.section__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 59rem;
  gap: 12.5rem;
  align-items: center; }
  .section__about--main {
    margin-top: 20rem; }
  @media (max-width: 49em) {
    .section__about {
      display: flex;
      flex-direction: column-reverse; } }

.about__title {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }
  @media (max-width: 49em) {
    .about__title {
      text-align: center; } }

.about__image {
  border-radius: 0.8rem;
  background-image: url("/src/assets/shared/desktop/image-best-gear.jpg");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; }
  @media (max-width: 49em) {
    .about__image {
      background-image: url("/src/assets/shared/tablet/image-best-gear.jpg");
      background-size: cover;
      background-position: top;
      height: 30rem; } }

.features__text, .features__box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem; }

.box__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem; }

.box__item {
  color: #00000080;
  display: flex;
  gap: 2.1rem; }

.box__quantity {
  color: #d87d4a; }

.product-gallery__img {
  border-radius: 0.8rem;
  transition: all 0.3s; }
  .product-gallery__img:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 6rem black; }
  .product-gallery__img--1 {
    grid-area: 1/1/2/2; }
  .product-gallery__img--2 {
    grid-area: 2/1/3/2; }
  .product-gallery__img--3 {
    grid-area: 1/2/3/3; }

.suggestion {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center; }
  .suggestion__title {
    grid-area: 1/1/2/4;
    text-align: center; }
  .suggestion__1 {
    grid-area: 2/1/3/2; }
  .suggestion__2 {
    grid-area: 2/2/3/3; }
  .suggestion__3 {
    grid-area: 2/3/3/4; }
  .suggestion__image {
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 0.8rem; }
