//! REFACTORED \\\

.zigzag {
  margin-top: 16rem;
  @include flexColumnAlignCenterWithGap(16rem);
  position: relative;
  //?###################### CARD ######################?\\
  &__card {
    min-height: 56rem;
    @include flexAlignCenterWithGap(12.5rem);
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
    //! MIXINS \\\
    @include respond(tablet) {
      @include flexColumnAlignCenter;
      &:nth-child(2n) {
        flex-direction: column;
      }
    }
  }

  //?###################### IMAGE ######################?\\
  &__image {
    width: 100%;
    border-radius: $border-radius-default;
  }
  //?###################### TITLE ######################?\\
  &__title {
    @include applyGapOnH2PButton;
    max-width: 44.5rem;

    //! MIXINS \\\
    @include respond(tablet) {
      text-align: center;
      align-items: center;
    }
  }
}
