//! REFACTORED \\\

.section__categories {
  max-width: $width-default;
  @include flexRowGap(3rem);
  margin: 0 auto;
  &--main {
    margin-top: 20rem;
  }
  //! Mixins \\\
  @include respond(tablet) {
    max-width: $width-tablet;
    @include flexColumnAlignCenterWithGap(6.8rem);
  }
  &--navbar {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: row;

    //! Mixins \\\
    @include respond(tablet) {
      gap: 1rem;
      justify-content: center;
    }
    @include respond(phone-rotated) {
      padding-top: 5rem;

      @include flexColumnAlignCenterWithGap(6.8rem);
      justify-content: center;
    }
  }
}

.categories {
  &__card {
    @include widthAndHeight(35rem, 20rem);
    @include flexColumnAlignCenterWithGap(2rem);
    background-color: #f1f1f1;
    position: relative;
    border-radius: $border-radius-default;
    &--navbar {
      max-width: 100%;

      //! Mixins \\\
      @include respond(tablet) {
        @include widthAndHeight(25rem, 20rem);
      }
      @include respond(phone-rotated) {
        @include widthAndHeight(35rem, 20rem);
      }
    }
  }
  &__img {
    @include positionAbsoluteTopLeftRight(-27%, 0, 0);
    height: 16rem;
    margin: 0 auto;
  }
  &__heading {
    margin-top: 10rem;
  }
}
